# System
*._*
.*DS_Store
.AppleDouble/
:2eDS_Store

# Application
build/*
web/.htaccess
web/pa/.htaccess
web/email_templates/*
web/img/customers/*
.gitmodules

vendor/*

# Symfony directories
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/css/*
web/js/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# IDE's
.buildpath
.project
.settings/*
.project/*
*.sublime-*
*nbproject*
.idea/*