{% extends 'base.html.twig' %}

{% block body %}
   <div class="container">
    <div class="row">
      <div class ="titles-box center" >
        <h1 class = "titles-top">Social</h1>
        <h3 class = "titles-bottom"></h3>
      </div>
    </div>
    <div class="row">
        <div class="col s12">
          <div class="card-panel">
            <div class="card-content">
                <div class="row margin">
                  <p>Aguardando Conteudo...</p>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}
{% block javascripts %}
    {% javascripts
    '@AppBundle/Resources/js/jquery-2.1.1.min.js'
    '@AppBundle/Resources/js/materialize.js'
    '@AppBundle/Resources/js/init.js'
    '@AppBundle/Resources/js/swiper.min.js'
    '@AppBundle/Resources/js/como-funciona.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
