{% extends 'base.html.twig' %}

{% block body %}
      <div class="row">
    <div class ="titles-box" >
      <h1 class = "titles-top">Termos</h1>
      <h3 class = "titles-bottom">e condições</h3>
    </div>
  </div>
  <div class="container">
    <div class="row">
        <div class="col s12">
          <div class="card-panel">
            <div class="card-content">
              <ol>
                  <li id="ancor-1">
                    <h6 class ="lime-text text-darken-4">INFORMAMOS:</h6>
                    <p>
                    Ao clicar no campo "ACEITO" presente na parte final do formulário de cadastro, o USUÁRIO firmará com o BidTravel.com.br presente na Rua Seis, 27 - Valinhos/SP – C.N.P.J.: 17.489.276/0001-88 com CONTRATO e CERTIFICADO seguem os termos das cláusulas.</p>
                    <p>Ressaltamos que este não é um CONTRATO obrigatório, portanto, caso o USUÁRIO não concorde com os termos deste instrumento basta não clicar no respectivo campo no formulário, o que impedirá a formação do CONTRATO e a prestação de quaisquer serviços por parte do BidTravel.com.br através do SITE www.bidtravel.com.br.
                    </p>
                    <p>
                    A aceitação destes termos é condições de uso é absolutamente indispensável para o cadastro e utilização dos serviços oferecidos pelo SITE.
                    </p>
                    Ao se cadastrar no SITE o USUÁRIO, de forma livre e espontânea, manifesta sua concordância com todos os termos e cláusulas aqui dispostos, agora expressos
                    <p>
                    </p>
                  </li>
                  <li id="ancor-2">
                    <h6 class ="lime-text text-darken-4"> SINTESE DO SITE BIDTRAVEL: </h6>
                    <p>A BidTravel.com.br desenvolveu um sistema para venda de passagens aéreas através de leilão via internet. O referido sistema possibilita a disputa pela aquisição de passagens aéreas por meio de LANCES, que incrementam o valor final de compra em um valor predeterminado por LANCE.
                    </p>
                    <p>
                    A oportunidade de dar certo número de LANCES é adquirida previamente por preço determinado pela BidTravel.com.br ou por transferência de pontos acumulados via cartão de crédito, por meio do SITE www.bidtravel.com.br ou diretamente pelo website detentor do cartão de crédito.
                    </p>
                    <p>
                    É facultado àquele USUÁRIO do SITE que der o ÚLTIMO LANCE, não coberto por novo LANCE de outro usuário do SITE por determinado período de tempo, publicado previamente no SITE www.bidtravel.com.br, a aquisição de determinada passagem aérea independentemente do PREÇO DE VENDA, ou valor de mercado.
                    </p>
                    <p>
                    Com vistas a garantir a mesma oportunidade a todos os USUÁRIOS, sempre, que um lance for ofertado, o cronometro voltará novamente para a marca de 2 (dois) minutos ou outro período de tempo definido previamente pela BidTravel.com.br, e publicado previamente no SITE, portanto, cada LANCE dado permitirá com que todos os USUÁRIOS realizem novos LANCES nos 2 (dois) minutos restantes
                    </p>
                    <p>
                    Além da oportunidade de adquirir passagens aéreas por meio da DISPUTA POR LANCES, é facultada aos 10 (dez) USUÁRIOS do SITE que mais lances ofertaram para uma determinada passagem, a aquisição desta passagem pelo preço de venda direta mais um desconto de acordo com a quantidade de lances ofertados no leilão.
                    </p>
                    <p>
                    Frise-se, o aproveitamento do valor em reais despendido em LANCES para aquisição da passagem aérea pelo PREÇO DE VENDA valerá apenas para contabilização do percentual de desconto a ser obtido para aquisição daquela passagem pelos 10 (dez) USUÀRIOS do SITE que mais lances ofertaram.
                    </p>
                    <p>
                    Ressaltamos ainda que por se tratar de disputa com outros USUÁRIOS participantes, há a possibilidade do LANCE dado não ser o vencedor, visto que SOMENTE HÁ UM USUÁRIO VENCEDOR POR PASSAGEM AÉREA DISPUTADA, O QUE NÃO GERARÁ O DIREITO DE REEMBOLSO PELA QUANTIDADE DOS LANCES DESPENDIDOS PELOS DEMAIS.
                    </p>
                  </li>

                  <li id="ancor-3">
                    <h6 class ="lime-text text-darken-4">DOS TERMOS UTILIZADOS E SUAS RESPECTIVAS DEFINIÇÕES:</h6>
                    <p>
                    ADQUIRENTE - USUÁRIO que deu o ÚLTIMO LANCE não coberto por outro LANCE, de outro USUÁRIO, por determinado período de tempo, previamente divulgado pelo SITE.
                    </p>
                    <p>
                    BÔNUS - unidade de LANCE dado ao USUÁRIO de acordo com sua política de promoções. Possui validade de 3 (três) meses  ou outro período pré determinado.
                    </p>
                    <p>
                    CONTA - área exclusiva no SITE onde o USUÁRIO pode efetuar e acompanhar seus LANCES, visualizar ou modificar suas informações pessoais, adquirir LANCES, gerenciar as passagens aéreas adquiridas, entre outras ações que somente estarão liberadas aos USUÁRIOS devidamente cadastrados, mediante a respectiva senha
                    </p>
                    <p>
                    CRONÔMETRO REGRESSIVO - mecanismo de marcação de tempo disponibilizado pelo SITE que marca a quantidade de TEMPO RESTANTE, contado de forma regressiva, para o final da possibilidade de dar LANCES para a aquisição de determinada passagem aérea. Será habilitado somente quando a quantidade de lances ofertados atingirem o PREÇO DE VENDA da passagem aérea
                    </p>
                    <p>
                    USUÁRIO – apelido do USUÁRIO utilizado para que este consiga acesso ao SITE. Toda vez que um USUÁRIO der um LANCE, o APELIDO dele irá aparecer na tela do SITE.
                    </p>
                    <p>
                    LANCE - unidade a ser adquirida pelo USUÁRIO, por meio de aquisição de LANCES, que dará a ele o direito a dar LANCES na disputa da passagem aérea, dentro do TEMPO RESTANTE. Cada LANCE dado incrementa o VALOR DO PRODUTO em R$ 0,01 (Um Centavo).
                    </p>
                    <p>
                    PREÇO DE VENDA - valor estipulado para a aquisição da passagem aérea através de e-mail que será enviado para os 10 (dez) USUÁRIOS que mais lances ofertaram; seu valor será estipulado segundo as práticas de mercado e sobre este valor será dado um desconto de acordo com a quantidade de lances alcançados no leilão.
                    </p>
                    <p>
                    SITE - sistema de leilão de passagem aérea, via internet desenvolvido e administrado por BidTravel de domínio www.bidtravel.com.br.
                    </p>
                    <p>
                    TEMPO RESTANTE - período de tempo dentro do qual os USUÁRIOS poderão dar LANCES até atingir o PREÇO DE VENDA da passagem e iniciar o CRONÔMETRO REGRESSIVO.
                    </p>
                    <p>
                    TEMPO RESTANTE LIMITE - os últimos 2 (dois) minutos ou outro período de TEMPO RESTANTE, definido pela BidTravel.com.br, e publicado previamente no SITE para a disputa por LEILÃO. Neste interregno temporal cada LANCE dado permitirá com que todos os USUÁRIOS realizem novos LANCES nos 2 (dois) minutos seguintes, a cada novo lance o CRONOMETRO REGRESSIVO voltará a marcar 2 (dois) minutos.
                    </p>
                    <p>
                    ÚLTIMO LANCE - último LANCE feito por um dos USUÁRIOS antes do término do TEMPO RESTANTE LIMITE, como indicado pelo SITE; confere ao USUÁRIO ADQUIRENTE a oportunidade de adquirir determinada passagem pelo ÚLTIMO LANCE OFERTADO.
                    </p>
                    <p>
                    USUÁRIO - qualquer pessoa física ou jurídica devidamente cadastrada no SITE
                    </p>
                    <p>
                    VALOR DO PRODUTO - preço da passagem aérea alcançada, será o somatório de todos os LANCES dados, centavo a centavo, para a aquisição de determinada passagem aérea.
                    </p>
                    <p>
                    DESCONTO - Percentual de desconto que está sendo concedido para a passagem aérea, isto é o VALOR DO PRODUTO alcançado em relação ao PREÇO DE VENDA.
                    </p>
                    <p>
                    DATA E HORA INÍCIO – data e hora em que o leilão será aberto para LANCES, não necessariamente será iniciado o CRONOMETRO REGRESSIVO.
                    </p>
                    <p>
                    AGÊNCIA DE VIAGEM – Empresa de turismo que será responsável pela emissão da passagem aérea ao USUÁRIO ADQUIRENTE.
                    </p>

                  </li>
                  <li id="ancor-4">
                    <h6 class ="lime-text text-darken-4"> DO CADASTRO NA BIDTRAVEL: </h6>
                    <p>
                      4.1. O cadastro no SITE será exigido apenas para USUÁRIOS que desejem dar LANCES.</p>
                    <p>
                      Parágrafo Único: O USUÁRIO cadastrado poderá visualizar as passagens aéreas disponíveis no SITE sem estar obrigado a efetivar qualquer LANCE e poderá solicitar a suspensão ou cancelamento de seu cadastro, a qualquer momento, sem necessidade de aviso prévio.</p>
                    <p>4.2 O cadastro no SITE é gratuito, e poderá ser feito por pessoas físicas que possuam capacidade de contratar na forma da Lei 10.406 de 2002, e forneçam corretamente todos os dados solicitados no processo.</p>
                    <p>
                      4.3. Para o efetivo cadastro do interessado, é necessário que o mesmo realize o preenchimento de todos os campos obrigatórios do cadastro, com informações exatas, precisas e verdadeiras, assumindo o compromisso de atualizar os dados pessoais sempre que neles ocorrer alguma alteração, sob pena de ser anulado o seu LOGIN.</p>
                    <p>
                      4.4. A BidTravel.com.br não se responsabiliza pela correção e atualização dos dados pessoais inseridos pelos USUÁRIOS do SITE, que são os únicos responsáveis, pela veracidade, exatidão e autenticidade dos dados cadastrados.</p>
                    <p>
                      No caso de dados pessoais falsos ou utilizados sem a autorização por terceiros, fraudes de qualquer espécie e/ou utilização indevida do acesso ao sistema, a se reserva o direito de cancelar ou suspender o cadastro do USUÁRIO e iniciar as ações legais cabíveis, sem que isso gere direito à reclamação ou qualquer indenização por parte do USUÁRIO.
                    </p>
                    <p>
                      4.5. O USUÁRIO autoriza que a BidTravel.com.br realize as verificações necessárias, a respeito dos dados informados no cadastro, bem como a respeito de sua idoneidade financeira, perante os órgãos bancários e de proteção de crédito.
                    </p>
                    <p>
                      4.6. Cada pessoa física poderá possuir somente um LOGIN e SENHA.
                    </p>
                    <p>
                      4.7. O USUÁRIO autoriza o rastreamento de seu endereço IP ou a utilização de outros meios de controle digital, com o fim único e específico de trazer mais confiabilidade e segurança nas transações ocorridas no SITE, bem como possibilitar a verificação da autenticidade do USUÁRIO.
                    </p>
                    <p>
                      4.8. Durante o processo de cadastro no SITE, o USUÁRIO deverá escolher um LOGIN e senha.
                    </p>
                    <p>
                      Parágrafo Único: O USUÁRIO ao preencher o cadastro de acesso deverá escolher um LOGIN que não viole as leis vigentes no Brasil, nem as normas de conduta e bom senso. USUÁRIOS que optarem por LOGINS obscenos, vulgares, agressivos, preconceituosos e ameaçadores, ou que induzam outros USUÁRIOS a erro (tais como: disputa encerrada, acabou, terminou e congêneres), poderão sofrer, além das sanções legais, o imediato cancelamento de todos os dados de seu cadastro sem prévio aviso e sem direito a restituição de eventuais LANCES já adquiridos.
                    </p>
                    <p>
                      4.9. O USUÁRIO será o único responsável pelas operações efetuadas em sua CONTA, que apenas poderá ser acessada através de LOGIN e senha pessoal e intransferível.
                    </p>
                    <p>
                      Parágrafo Único: O USUÁRIO compromete-se a não informar a terceiros os dados da sua CONTA, responsabilizando-se civil e criminalmente pelo seu uso indevido ou por quaisquer práticas ilícitas que interfiram, manipulem ou prejudiquem o funcionamento do SITE ou das informações nele contidas.
                    </p>
                    <p>
                      4.10. Toda informação ou dado pessoal fornecido pelo USUÁRIO será armazenado em servidores ou meios magnéticos de alta segurança. A BidTravel.com.br se compromete a tomar todas as medidas possíveis, para manter a confidencialidade e a segurança descritas nesta cláusula.
                    </p>
                    <p>
                      Parágrafo Primeiro: A BidTravel.com.br declara que todos os processos nos quais trafegam dados pessoais do USUÁRIO e meios de pagamento são realizados em ambiente seguro e criptografado, com alta tecnologia para proteção de dados.
                    </p>
                    <p>
                      Parágrafo Segundo: A BidTravel.com.br não se responsabiliza pelo uso indevido, por terceiros, de dados pessoais do USUÁRIO, especialmente quando estes terceiros obtiverem tais informações com emprego de fraude, simulações e violações de sistemas.
                    </p>
                    <p>
                      4.11. O USUÁRIO autoriza a BidTravel.com.br, a divulgar no SITE, o seu nome e cidade, e concorda em ceder gratuitamente os seus direitos de imagem e som de voz, para uso em qualquer mídia.
                    </p>
                    <p>
                      Parágrafo Único: O USUÁRIO poderá se opor à divulgação de sua imagem e som de voz através de comunicado dirigido ao endereço de e-mail contato@bidtravel.com.br.
                    </p>
                    <p>
                      4.12. Efetuado o cadastro, o USUÁRIO declara aceitar receber informações somente da BidTravel.com.br.
                    </p>
                    <p>
                      4.13. Todas as informações enviadas pela BidTravel.com.br ao e-mail cadastrado, para todos os efeitos, serão consideradas como lidas.
                    </p>

                  </li>
                    <li id="ancor-5">
                    <h6 class ="lime-text text-darken-4"> O SISTEMA DE ENTRETENIMENTO E COMPRAS:</h6>
                    <p>
                      5.1. A BidTravel.com.br proporciona aos seus USUÁRIOS cadastrados a possibilidade de entretenimento através de uma política de aquisição passagens aéreas de modo fácil e divertido com a disputa através de LANCES, que podem levar ao USUÁRIO vencedor a aquisição de passagem aérea por LANCES adquiridos previamente. Para participar da disputa através de LANCES, o USUÁRIO deverá adquirir os LANCES no próprio SITE ou diretamente no website do banco responsável pelo seu cartão. Os USUÁRIOS ainda poderão resgatar cupons de desconto de hotéis e pousadas oferecidos pelas AGENCIAS DE VIAGEM parceiras.
                    </p>
                  </li>
                   <li id="ancor-6">
                    <h6 class ="lime-text text-darken-4"> A DISPUTA POR LANCES – LEILÃO ON-LINE:</h6>
                    <p>
                      6.1. A BidTravel.com.br possibilita aos USUÁRIOS, devidamente cadastrados, autorizados, e com LANCES comprados e vinculados ao LOGIN, a disputa pela aquisição de passagens aéreas por meio de LANCES, que incrementam o VALOR DO PRODUTO em R$ 0,01 (1 Centavo) por LANCE dado por USUÁRIO.</p>
                    <p>
                      6.2. USUÁRIO poderá adquirir os LANCES  por preço determinado pela BidTravel.com.br ou por transferência de pontos acumulados via cartão de crédito, diretamente no website do Banco detentor do cartão de crédito ou através do SITE www.bidtravel.com.br .</p>
                    <p>
                      6.3. O primeiro LANCE que o USUÁRIO der será o lance de habilitação ao leilão, isto é, não será considerado para a disputa do leilão, somente após a habilitação, todo LANCE que o USUÁRIO der, será considerado para aquisição das passagens aéreas exibidas no SITE, no entanto todos os lances serão descontados de seu SALDO DE LANCES. Simultaneamente será adicionado ao VALOR DO PRODUTO da passagem aérea disponível no SITE e escolhido pelo USUÁRIO, R$ 0,01 (1 Centavo).
                    </p>
                    <p>
                      6.4 O USUÁRIO só poderá dar o seu LANCE de habilitação ao leilão antes do CRONOMETRO REGRESSIVO iniciar a sua contagem. Após o início da contagem regressiva o USUÁRIO não poderá mais dar LANCE para habilitar a sua participação ao leilão
                    </p>
                    <p>
                      6.5 Os LANCES devem ser dados antes do término do TEMPO RESTANTE LIMITE, preestabelecido e publicado no SITE, contado segundo a segundo pelo CRONÔMETRO REGRESSIVO.
                    </p>
                    <p>
                      Parágrafo Primeiro: Com vistas a garantir a mesma oportunidade a todos os USUÁRIOS, sempre, durante o TEMPO RESTANTE LIMITE, conforme política previamente divulgada no SITE para aquela passagem aérea, cada LANCE dado retornará o CRONÔMETRO REGRESSIVO para o início do TEMPO RESTANTE LIMITE, ou seja, facultará outros USUÁRIOS a darem novos LANCES durante novo TEMPO RESTANTE LIMITE.
                    </p>
                    <p>
                      Parágrafo Segundo: Quando sinalizado pelo SITE, isto é a partir da Data e Hora de início do LEILÃO, todos os usuários poderão começar a dar LANCES, mas somente quando a passagem aérea alcançar o seu VALOR DE VENDA é que será iniciado o CRONÔMETRO REGRESSIVO
                    </p>
                    <p>
                      6.6.  Será facultado àquele USUÁRIO da BidTravel.com.br que der o ÚLTIMO LANCE, não coberto por novo LANCE de outro usuário do SITE dentro do TEMPO RESTANTE LIMITE, a aquisição de determinada passagem aérea, independentemente do PREÇO DE VENDA, ou valor de mercado.
                    </p>
                    <p>
                    Parágrafo Primeiro: A indicação do usuário que deu o ÚLTIMO LANCE é baseada nos sistemas informatizados da BidTravel.com.br e é feita de forma eletrônica.
                    </p>
                    <p>
                      Parágrafo Segundo: Todos os LANCES dados pelos USUÁRIOS para a aquisição das passagens aéreas no SITE www.bidtravel.com.br, mesmo que não vencedores, serão considerados utilizados e não serão reembolsados, bem como ficarão cadastrados em sistema próprio para eventual análise pelo período de 6 (seis) meses
                    </p>
                    <p>
                      6.7.  Os serviços do SITE estão sujeitos aos horários estipulados e informados no mesmo, podendo haver modificações, interrupções, atrasos, ou suspensões sem aviso prévio e, principalmente, nos casos em que o funcionamento do SITE ou a sua operacionalização estejam comprometidos por caso fortuito ou força maior
                    </p>
                    <p>
                      6.8.  NÃO HAVERÁ REEMBOLSO DE VALORES CORRESPONDENTES A LANCES COMPRADOS, UTILIZADO(S) E/OU AINDA QUE PARCIALMENTE.
                    </p>

                  </li>
                  <li id="ancor-7">
                    <h6 class ="lime-text text-darken-4"> A AQUISIÇÃO DOS PRODUTOS E SUA CONFIRMAÇÃO: </h6>
                    <p>
                      7.1. A aquisição pelo USUÁRIO que deu o ÚLTIMO LANCE, USUÁRIO ADQUIRENTE, da passagem aérea disponibilizados no SITE, é automática assim que o CONTRADOR REGRESSIVO é zerado.</p>
                    <p>
                      Parágrafo Único: A desistência da aquisição da passagem aérea não dá direito à restituição dos LANCES utilizados, assim como não gera direito de aquisição à outros USUÁRIOS.
                    </p>
                    <p>
                      7.2.  Ao confirmar a aquisição, o USUÁRIO ADQUIRENTE deverá selecionar a AGENCIA DE TURISMO parceira da BidTravel.com.br de sua preferencia para retirar a passagem aérea, será única e exclusivamente de sua responsabilidade e da AGENCIA DE TURISMO selecionada a escolha da data de ida e volta ao destino e hora do voo desejado.</p>
                    <p>
                      7.3. O USUÁRIO ao invés de selecionar uma AGENCIA DE TURISMO parceira da BidTravel.com.br para retirada da passagem, poderá indicar uma AGENCIA DE TURISMO de sua confiança para realização de tal serviço, esta indicação deverá ser feita no SITE www.bidtravel.com.br, a aceitação dessa AGENCIA DE TURISMO como parceira, dependerá do atendimento aos critérios de parceria definidos pela BidTravel.com.br. O USUÁRIO deverá aguardar por um prazo de sete (7) dias úteis para que a BidTravel.com.br lhe informe por e-mail se a parceria com a AGENCIA DE TURISMO indicada foi aprovada ou não.</p>
                    <p>
                      7.4. O USUÁRIO terá o prazo de um (1) ano, a contar da data do leilão que adquiriu a passagem no SITE, para emissão do bilhete junto a AGENCIA DE TURISMO selecionada. </p>
                  <p>
                    7.5. Enquanto não afastada a possibilidade de fraude, quando informações como CPF ou endereço forem inexistentes ou não correspondam aos outros dados fornecidos pelo USUÁRIO ADQUIRENTE, como nome, idade, sexo, etc., a BidTravel.com.br se reserva o direito de não fornecer a passagem aérea disputada. </p>
                  <p>
                    7.6.  O USUÁRIO ADQUIRENTE não poderá em hipótese alguma receber o valor da passagem aérea arrematada em dinheiro(espécie) caso não queira a mesma.
                  </p>
                </li>
                <li id="ancor-8">
                  <h6 class ="lime-text text-darken-4">A POSSIBILIDADE DE AQUISIÇÃO INDEPENDENTE DO ÚLTIMO LANCE:</h6>
                  <p>
                    8.1. Os dez (10) USUÁRIOS que mais lances ofertaram em uma DISPUTA POR LANCES  poderão adquirir a passagem aérea independentemente do resultado do leilão. Estes USUÁRIOS irão receber um e-mail, informando o valor da passagem já aplicado o desconto obtido através da quantidade de lances ofertados e caso queiram adquirir deverão clicar no link enviado que o direcionará ao SITE www.bidtravel.com.br, área exclusiva para aquisição da passagem aérea. Nesta área o usuário deverá escolher a condição de pagamento desejada, após a confirmação do pagamento o usuário deverá escolher a AGENCIA DE TURISMO que fará a emissão do bilhete, conforme já mencionado. </p>
                  <p>
                    Parágrafo Primeiro: O VALOR TOTAL DE DESCONTO para um determinada passagem aérea, nunca poderá ultrapassar o PREÇO DE VENDA.</p>
                  <p>
                    Parágrafo Segundo: O PREÇO DE VENDA, definido no capítulo 3, não se confunde com o VALOR DO PRODUTO, no mesmo capítulo definido.
                  </p>
                  <p>
                    Parágrafo Terceiro: A oportunidade de aquisição da passagem aérea com desconto via e-mail será dada ao USUÁRIO logo após a DISPUTA POR LANCES e até um dia (24 horas) após o termino da mesma. Após este período não será mais possível a aquisição da passagem aérea com desconto.
                  </p>
                </li>
                <li id="ancor-9">
                    <h6 class ="lime-text text-darken-4">  ENTREGA DA PASSAGEM AÉREA: </h6>
                    <p>9.1. O tempo de entrega da PASSAGEM AÉREA pode variar, dependendo do contato do USUÁRIO ADQUIRENTE da DISPUTA POR LANCES com a AGÊNCIA DE VIAGEM selecionada. É de inteira responsabilidade do USUÁRIO ADQUIRENTE definir junto com a AGENCIA DE VIAGEM as datas e horários de seu voo. </p>
                </li>
                <li id="ancor-10">
                    <h6 class ="lime-text text-darken-4"> RESPONSABILIDADES: </h6>
                    <p>
                      10.1. A BidTravel.com.br segue todas as boas práticas previstas na legislação brasileira em especial o Código de Defesa do Consumidor, sua obrigação é garantir a participação do USUÁRIO no sistema de aquisição oferecido pelo SITE, segundo as regras ora estabelecidas, e de quitar diretamente junto ao FORNECEDOR a passagem aérea adquirida.
                    </p>
                    <p>
                      10.2. A BidTravel.com.br atua como mera intermediária entre USUÁRIO e FORNECEDOR, razão pela qual reclamações relacionadas à qualidade e conformidade da passagem aérea e eventual troca de datas e/ou horários deverão ser dirigidas diretamente com o FORNECEDOR.</p>
                    <p>
                      10.3. A BidTravel.com.br não se responsabiliza, sob quaisquer circunstâncias, por eventuais prejuízos decorrentes de falhas técnicas, operacionais, de estrutura de comunicação ou de acesso ao sistema, que impossibilitem ou dificultem a participação do USUÁRIO.
                    </p>
                  </li>
                   <li id="ancor-11">
                    <h6 class ="lime-text text-darken-4"> VALIDADE E ALTERAÇÕES DESTE TERMO DE USO: </h6>
                    <p>
                       11.1. Este instrumento é por prazo indeterminado, podendo, a critério do BidTravel.com.br, ser alterado, a qualquer tempo. Neste caso o USUÁRIO, ao entrar em sua CONTA no SITE, receberá a nova versão dos Termos e Condições Gerais com uma solicitação de aceite.
                    </p>
                    <p>
                      Parágrafo Primeiro. Eventual novo contrato de Termos e Condições entrará em vigor no mesmo dia da publicação no SITE. Todavia, não atingirá negociações em andamento, ou anúncios já publicados na BidTravel.com.br.
                    </p>
                    <p>
                      Parágrafo Segundo. Caso o USUÁRIO não concorde com os termos alterados, o vínculo contratual deixará de existir, desde que não haja valores ou dívidas em aberto, caso haja, deverá solicitar formalmente o reembolso, enviando e-mail e demais documentos requeridos pela BidTravel.com.br.
                    </p>
                  </li>
                  <li id="ancor-12">
                    <h6 class ="lime-text text-darken-4"> PRODUTO: </h6>
                    <p>
                      12.1. Em caso de indisponibilidade da passagem aérea adquirida junto ao fornecedor, a BidTravel.com.br, após a aquiescência do USUÁRIO, enviará produto similar de mesmo nível ou superior.
                    </p>
                  </li>
                   <li id="ancor-13">
                    <h6 class ="lime-text text-darken-4"> SUSPEITA DE FRAUDES:</h6>
                    <p>
                      13.1. Qualquer iniciativa que comprometa a justa utilização do sítio eletrônico, prejudicando ou levando a erros outros usuários será tida como fraude.
                    </p>
                    <p>
                      13.2. No caso de dados pessoais falsos ou utilizados sem a autorização por terceiros, jogo de equipe, fraudes de qualquer espécie e/ou utilização indevida do acesso ao sistema, o BidTravel.com.br se reserva o direito de cancelar ou suspender o cadastro do USUÁRIO e iniciar as ações legais cabíveis, sem que isso gere direito à reclamação ou qualquer indenização por parte do USUÁRIO.
                    </p>
                    <p>
                      13.3. Será considerado jogo de equipe o conluio de usuários que se revezem ao dar lance na mesma passagem aérea reiteradamente.
                    </p>
                    <p>
                      13.4. Para efeito de análise da prática do jogo de equipes, serão considerados todos os usuários dos sites administrados e geridos pelo BidTravel.com.br.
                    </p>
                    <p>
                      13.5. Enquanto não afastada a possibilidade de fraude, quando informações como CPF ou endereço forem inexistentes ou não correspondam aos outros dados fornecidos pelo USUÁRIO ADQUIRENTE, como nome, idade, sexo, etc., a se reserva o direito de não fornecer a passagem aérea disputada.
                    </p>
                  </li>
                   <li id="ancor-14">
                    <h6 class ="lime-text text-darken-4"> CONSIDERAÇÕES FINAIS: </h6>
                    <p>
                      14.1. Se constatadas fraudes ou incorreções nas informações pessoais prestadas pelo USUÁRIO ou nas operações financeiras efetuadas, inclusive estorno ou cancelamento de pagamentos ou débitos em conta-corrente, a qualquer tempo, a operação será automaticamente cancelada, sem prejuízo das providências legais cabíveis.
                    </p>
                    <p>
                      14.2. Fica terminantemente proibido o jogo de equipes durante os leilões administrados pela BidTravel.com.br. Entenda-se como jogo de equipes, a utilização de diversos usuários de uma mesma origem que se revezam nos lances dados, ou o conluio de usuários de origem distintas que se aliam com o objetivo de se revezarem no ato de dar lances. Caso essa prática seja constatada, o BidTravel.com.br, poderá, a qualquer tempo, bloquear os usuários que participaram da prática de jogo de equipes.
                    </p>
                    <p>
                      Parágrafo Primeiro. É permitido a participação de mais de um usuário de uma mesma origem em um determinado leilão. No entanto é proibido que estes usuários se revezem no ato de dar lances.
                    </p>
                    <p>
                      Parágrafo Segundo. Para efeito de análise da prática do jogo de equipes, serão considerados todos os usuários dos sites administrados e geridos pelo BidTravel.com.br.
                    </p>
                    <p>
                      14.3. Em caso de dúvidas ou reclamações os USUÁRIOS do SITE, poderão apresentá-las através do BidTravel.com.br ou através do e-mail: contato@bidtravel.com.br.
                    </p>
                    <p>
                      14.4. Todas estas informações estão disponibilizadas on-line no SITE www.bidtravel.com.br e o USUÁRIO declara ter lido seu conteúdo, tendo compreendido plenamente e aceito expressamente e sem ressalvas os termos e condições doravante expostos.
                    </p>
                    <p>
                      14.5. As cláusulas deste Termo e Condições podem ser atualizadas sem aviso prévio.
                    </p>
                    <p>
                      14.6. As partes elegem, para demandas que não se versem sobre direitos consumeristas, o Foro da Comarca local.
                    </p>
                  </li>
                </ol>
                <div class ="row">
                <div class="input-field col s12 ">
                      <div class="input-field col s6  login-text">
                          <input type="checkbox" id="agree" />
                          <label for="agree">Aceito os Termos e Condições</label>
                      </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
{% endblock %}
{% block javascripts %}
    {% javascripts
    '@AppBundle/Resources/js/jquery-2.1.1.min.js'
    '@AppBundle/Resources/js/materialize.js'
    '@AppBundle/Resources/js/init.js'
    '@AppBundle/Resources/js/swiper.min.js'
    '@AppBundle/Resources/js/como-funciona.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
